{% extends "BaseTemplate.html" %}
{% block title %} Accueil {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="../static/tabstyle.css"/>
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at convallis dolor, quis ornare risus. Donec vel augue
metus. Praesent ornare, nulla sit amet elementum hendrerit, nunc nibh gravida elit, vitae pretium orci nisl et velit.
Nullam vitae consectetur massa, quis sodales leo. Donec pretium est eget semper lacinia. Maecenas a libero suscipit,
cursus enim eget, molestie libero. Quisque sed luctus diam. Etiam placerat est et mi lobortis, vitae rutrum massa
efficitur.Aliquam eget justo sapien.
</p>
<p></p>
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sed congue odio.
Ut venenatis nec enim quis molestie. Etiam nec mollis neque. Praesent id sodales ante. Curabitur eleifend lorem sem,
eu mattis orci ultrices in. Vestibulum cursus dapibus mauris, ac varius elit feugiat eu. Mauris lorem velit,
semper nec dignissim non, placerat non odio. Maecenas vitae tempus nunc, facilisis eleifend turpis.
Sed at ornare nulla. Sed porttitor nibh vel tristique vestibulum. Quisque at ornare justo. In ut hendrerit justo,
a ornare odio. Donec feugiat porta mi at iaculis. Suspendisse potenti. Etiam lectus metus, varius eget augue ac,
pellentesque mollis ipsum.
</p>
<p>
Morbi sodales ante ut mauris consequat, quis scelerisque quam lobortis. Phasellus id convallis elit, ut suscipit erat.
Phasellus eu sodales nulla. Nullam dictum tellus id mauris sollicitudin dignissim quis sed libero. Aliquam malesuada
metus ac lectus varius, at rutrum nunc euismod. Duis rhoncus vel lacus et fringilla. Pellentesque non pretium nisi.
Cras at massa semper, aliquam risus et, vehicula urna. In congue aliquam eros, sed commodo quam porta non.
Duis eleifend lorem vel sapien cursus, vel mollis elit rhoncus. Etiam nec neque bibendum, sodales nisi eget,
hendrerit dui. Phasellus euismod metus in libero maximus, a iaculis magna ullamcorper. Nulla pulvinar velit vitae enim
tincidunt hendrerit nec blandit ante. Nunc et commodo mauris, blandit bibendum erat. Nunc feugiat condimentum lectus eu
tristique. Integer pharetra diam libero, non pharetra magna egestas at.
</p>
<p>
Vivamus ut feugiat neque. Integer in fermentum turpis, sed eleifend lectus. Vestibulum at lacus nisl.
Phasellus euismod dolor eget dui efficitur ullamcorper. Sed massa turpis, posuere nec congue ut, sodales ac eros.
Aenean est est, luctus quis leo id, malesuada tempor felis. Quisque ultrices, tortor sed laoreet aliquet,
lectus ipsum ultrices mi, et gravida lorem nunc nec felis. Duis lorem ligula, sodales et arcu vitae,
consequat lobortis sem. Donec semper tincidunt laoreet. Sed tincidunt tristique justo at porttitor.
Fusce dignissim efficitur arcu, eget interdum augue pharetra at.
</p>
<p>
Donec at lacinia justo, a porttitor nibh. In eros diam, placerat nec laoreet eu, bibendum nec sem. Vivamus sapien odio,
finibus ac nisl sit amet, iaculis efficitur quam. Aenean laoreet ante nec justo scelerisque vulputate.
Curabitur luctus gravida arcu, eu varius est dapibus sed. Duis non sapien a purus viverra aliquam.
Fusce nulla augue, scelerisque vel tincidunt ut, lobortis sit amet metus. Nulla eget fermentum neque.
Donec imperdiet ipsum quis ipsum fringilla, sit amet faucibus est malesuada. Suspendisse commodo eu libero ac egestas.
Aliquam erat volutpat. In eget est ac felis facilisis scelerisque eget id risus.
Nunc sagittis dolor nec odio interdum, eget ornare orci interdum. In sed dictum nunc.
Fusce congue magna justo, ac hendrerit dui suscipit ac. Pellentesque dapibus pretium hendrerit.
</p>
{% endblock %}