{% extends "BaseTemplate.html" %}
{% block title %}Base de données des Acteurs {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="static/tabstyle.css"/>
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>
<table>
  <tr>
    <td>Nom </td>
    <td>Prénom </td>
  </tr>
  {% for acteur in acteurs %}
  <a href="index.php?action=film_by_actor&id="{{acteur.code_indiv}}>
  <tr>
    <td>{{acteur.nom}}</td>
    <td>{{acteur.prenom}}</td>
    <td>{{acteur.nationalite}}</td>
    <td>{{acteur.date_naiss}}</td>
    <td>{{acteur.date_mort}}</td>
  </tr>
  </a>
  {% endfor %}
</table>

{% endblock %}
