{% extends "BaseTemplate.html" %}
{% block title %}Base de données des Acteurs {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="../static/tabstyle.css"/>
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>
<table>
  <tr>
    <td>Nom </td>
    <td>Prénom </td>
      <td>Nationalité</td>
      <td>Date de naissance</td>
      <td>Date de décès</td>
      <td><a href="index.php?action=add_actor">+</a></td>
  </tr>
  {% for acteur in acteurs %}

  <tr>
    <td><a href="index.php?action=film_by_actor&id={{acteur.code_indiv}}"> {{acteur.nom}} </a></td>
    <td>{{acteur.prenom}}</td>
    <td>{{acteur.nationalite}}</td>
    <td>{{acteur.date_naiss}}</td>
    <td>{{acteur.date_mort}}</td>
      <td><a href="index.php?action=edit_actor&id={{ actor.code_indiv }}">M</a><a href="index.php?action=delete_actor&id={{ actor.code_indiv }}">X</a> </td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
