<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>

    <section id="content">
      {% block content %}{% endblock %}
    </section>


    <footer>
      {% block footer %}
      &copy; Copyright 2017 <a href="https://monsite.com">Mon super site</a>
      {% endblock %}
    </footer>
  </body>

</html>
