{% extends "BaseTemplate.html" %}
{% block title %}Base de données des films {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="../static/tabstyle.css"/>
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>
<table>
  <tr>
    <td>Titre Film </td>
    <td> Date </td>
    <td> Durée </td>
      <td><a href="index.php?action=add_film">+</a></td>
  </tr>
  {% for film in films %}
  <tr>
    <td><a href="index.php?action=actor_by_film&id={{ film.code_film }}">{{film.titre_original}}</a></td>
    <td>{{film.date}}</td>
    <td>{{film.duree}}</td>
      <td><a href="index.php?action=edit_film&id={{ film.code_film }}">M</a><a href="index.php?action=delete_film&id={{ film.code_film }}">X</a> </td>
  </tr>
  {% endfor %}
</table>
<div id="message">
  {% if est_ajoute %} <p> Supprimé avec succès </p> {% endif %}
  {% if est_modifie %} <p> Modifié avec succès </p> {% endif %}
  {% if est_efface %} <p> Effacé avec succès </p> {% endif %}
</div>
{% endblock %}

{% block javascript%}
regtitre = new RegExp("^[A]{2,}$");

{% for film in films%}
var titrefilm = document.getElementById('{{film.titre_original}}');
if (!regtitre.test(titrefilm))       {titrefilm.style.display = "none";}
{% endfor %}
{% endblock %}
