{% extends "BaseTemplate.html" %}
{% block title %}Base de données des films {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="../static/tabstyle.css"/>
{% endblock %}


{%block titleBody %}
{{titre}}
{% endblock %}

{%block FormulaireAjoutModif %}
<fieldset id="ajout_modif_film">
<form action="index.php" method="GET"  name="formu_inserer">
<input type="hidden" id="action" name="action" value="add_film">
<input type="hidden" id="code_film" name="code_film">
<label  for="titre_original">Tittre original :</label>
<input type="text" name="titre_original"  id="titre_original" size="20" title="Entre ici le titre original" placeholder="Titre original" required  />
<label  for="titre_francais">Titre francais:</label>
<input type="text" name="titre_francais"  id="titre_francais" size="20" title="Entre ici le titre français" placeholder="Titre français" required  />
<label  for="pays">pays:</label>
<input type="text" name="pays"  id="pays" size="15" title="Entre ici le pays" placeholder="Pays" required  />
<label  for="date">date:</label>
<input type="text" name="date"  id="date" size="4" title="Entre ici la date" placeholder="Date" required  />
<label  for="duree">durée:</label>
<input type="text" name="duree"  id="duree" size="5" title="Entre ici la durée en min" placeholder="Durée" required  />
<label  for="couleur">couleur:</label>
<select  name="couleur" id="couleur" size="1" required>
  <option value="NB        ">NB</option>
  <option value="couleur   ">couleur</option>
</select>
<label  for="image">image:</label>
<input type="text" name="image"  id="image" size="15" title="Entre ici le nom de l'image" placeholder="Chemin Image" required  />
<input type="submit" id="boutonModif" value="Ajouter un film">
</form>
</fieldset>
{% endblock %}

{% block content %}
<div id="film_content">
    <label for=lettre_film>Film :</label>
    <select name="lettre_film" id="lettre_film" size="1" onchange="changefilm(this)">
        <option id="cachezClick_lettre" selected="selected">Choisis une lettre</option>
        <option>0-9</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
        <option>D</option>
        <option>E</option>
        <option>F</option>
        <option>G</option>
        <option>H</option>
        <option>I</option>
        <option>J</option>
        <option>K</option>
        <option>L</option>
        <option>M</option>
        <option>N</option>
        <option>O</option>
        <option>P</option>
        <option>Q</option>
        <option>R</option>
        <option>S</option>
        <option>T</option>
        <option>U</option>
        <option>V</option>
        <option>W</option>
        <option>X</option>
        <option>Y</option>
        <option>Z</option>
    </select>
</div>

<table>
    <tr class="gras">
        <td>Titre Film </td>
        <td> Date </td>
        <td> Durée </td>
        <td><a href="#" onclick="ajouter()">+</a></td>
    </tr>
    {% for film in films %}
    <tr id="{{film.code_film}}">
        <td class="alignerGauche"><a href="#" onclick='info("{{film.titre_original}}","{{film.titre_francais}}","{{film.pays}}","{{film.date}}","{{film.duree}}","{{film.couleur}}","{{film.image}}")'> {{film.titre_original}} </a></td>
        <td>{{film.date}}</td>
        <td>{{film.duree}}</td>
        <td><a href="#"  onclick='modification("{{film.code_film}}","{{film.titre_original}}","{{film.titre_francais}}","{{film.pays}}","{{film.date}}","{{film.duree}}","{{film.couleur}}")'>M</a><a href="index.php?action=delete_film&eid={{ film.code_film }}">X</a> </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}


{% block information %}
      <img id="imageFilm" href="" width="150" height="200">
      <div id="infoFilm">
        <h2 class="flex100" id="TO">titre_original</h2>
        <dl>
          <dt class="flex20"> Titre français : </dt>
          <dd class="flex80" id="TF">titre_francais</dd>
          <dt class="flex20"> Pays : </dt>
          <dd class="flex80" id="Pays">pays</dd>
          <dt class="flex20"> Année : </dt>
          <dd class="flex80" id="Date">date</dd>
          <dt class="flex20"> Durée : </dt>
          <dd class="flex80" id="Duree">duree</dd>
          <dt class="flex20"> NB/couleur : </dt>
          <dd class="flex80" id="Couleur">couleur</dd>
      </dl>
      </div>
{% endblock %}

{% block javascript%}

<!-- cachez Tableau informations film/Formulaire ajout /Formulaire Modifier -->
var sectionInfo = document.getElementById('info');
sectionInfo.style.display="none";
var formulaireAjoutModif = document.getElementById('formulaireAjoutModif');
formulaireAjoutModif.style.display="none";

<!--  Fonction qui fait apparaitre le formulaire ajouter film-->
function ajouter(){
  formulaireAjoutModif.style.display="block";
}

<!--  Fonction qui fait apparaitre le formulaire modification film-->
function modification(code,to,tf,pays,date,duree,couleur){
  formulaireAjoutModif.style.display="block";

  document.getElementById('action').value = "update_film";
  document.getElementById('code_film').value = code;
  document.getElementById('titre_original').value = to;
  document.getElementById('titre_francais').value = tf;
  document.getElementById('pays').value = pays;
  document.getElementById('date').value = date;
  document.getElementById('duree').value = duree;
  document.getElementById('couleur').value = couleur;
  document.getElementById('boutonModif').value = "Modifier le film";
}

<!--  Fais apparaitre les infos du film dans un tableau-->
function info(to,tf,pays,date,duree,couleur,image)
{
  sectionInfo.style.display="flex";
  console.log(to);
  console.log(tf);
  console.log(pays);
  console.log(date);
  console.log(duree);
  console.log(couleur);

  document.getElementById('TO').innerHTML = to;
  document.getElementById('TF').innerHTML = tf;
  document.getElementById('Pays').innerHTML = pays;
  document.getElementById('Date').innerHTML = date;
  document.getElementById('Duree').innerHTML = duree;
  document.getElementById('Couleur').innerHTML = couleur;
  document.getElementById('imageFilm').alt = image;

}

<!-- fonction permet de cacher les films + faire disparaitre choisir une lettre de la liste deroulante -->
function changefilm(name)
{
  console.log(name.value);
  cacher_film(name.value);
  document.getElementById('cachezClick_lettre').style.display = 'none';
}

<!--  permet de modifier le pattern pour afficher/cacher les films-->
function cacher_film(name)
{
  var chaineCarac="^["+name+"]";
  console.log(chaineCarac);
  regfilm = new RegExp(chaineCarac);

  {% for film in films%}

  var codefilm = document.getElementById('{{film.code_film}}');

  if (!regfilm.test('{{film.titre_original}}'))
  {
    codefilm.style.visibility="collapse";
  }
  else
  {
    codefilm.style.visibility="visible";
  }
  {% endfor %}
}


{% endblock %}
