{% extends "BaseTemplate.html" %}
{% block title %}Base de données des Genres {% endblock %}
{% block head %}
{{parent()}}
<link rel="stylesheet" href="../static/tabstyle.css"/>
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>

<table>
    <tr>
        <td>Genre </td>
        <td>Films</td>
        <td>Réalisateurs</td>
        <td>Acteurs</td>
        <td><a href="index.php?action=add_genre">+</a></td>
    </tr>
    {% for genre in genres %}
    <tr>
        <td>{{genre.nom_genre}}</td>
        <td><a href="index.php?action=film_by_genre&id={{ genre.code_genre }}">¤</a></td>
        <td><a href="index.php?action=director_by_genre&id={{ genre.code_genre }}">*</a></td>
        <td><a href="index.php?action=actor_by_genre&id={{ genre.code_genre }}">$</a></td>
        <td><a href="index.php?action=edit_genre&id={{ genre.code_genre }}">M</a><a href="index.php?action=delete_genre&id={{ genre.code_genre }}">X</a> </td>
    </tr>
    {% endfor %}
</table>

<div id="message">
    {% if est_ajoute %} <p> Supprimé avec succès </p> {% endif %}
    {% if est_modifie %} <p> Modifié avec succès </p> {% endif %}
    {% if est_efface %} <p> Effacé avec succès </p> {% endif %}
</div>
{% endblock %}
